<%- include("../partials/user/headerp") %>

<div class="container text-center mt-5">
  <h2 class="text-success">product Cancelled Successfully</h2>
  
  <% if (reason) { %>
    <p><strong>Reason:</strong> <%= reason %></p>
  <% } %>
  <a href="/view-orders" class="btn btn-primary mt-3">Back to My Orders</a>
</div>

<%- include("../partials/user/footerp") %>